/* reset */
*::after,
*::before {
  box-sizing: border-box;
}

/* typography */
html {
  font-size: 62.5%;
}

#board {
  border: 1px solid black;
  width: min-content;
  margin: auto;
  font-size: 3rem;
  display: grid;
  place-items: center;
}
